<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgBbhsKUMNthNg2za9pIf-TymRGghwTcg</string>
	<key>GCM_SENDER_ID</key>
	<string>34885571286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hamster.Inc</string>
	<key>PROJECT_ID</key>
	<string>hamster-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>hamster-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34885571286:ios:7e15b38c39f9f3e1916f77</string>
	<key>DATABASE_URL</key>
	<string>https://hamster-inc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>